body {
	font-family: "Oswald", sans-serif;
	color:#444444;
}
header{
	text-align: center;
	background: #DE1B8D;
	color:	green;
	background: url(images/background.jpg);
	background-size: cover;
}
header img{
	border: 3px solid #fff;
	border-radius: 50%;
	padding: 10px;
}
a{
	color:#38A88F;
}
h1{
	color:#FFFFFF;
	font-size: 48px;
}
img{
	border:2px solid blue;
}
#about{
	background:#FFCA59;
}
.links h2{
	font-family: sans-serif;
	color:	orange;
}
.padded {
	padding: 50px 100px;
}
.contact{
	text_align: center;
	color:#FFF;
	background: url(images/dark_embroidery.png);
}
.contact h2 {
	color: #FFF;

}
.contact img{
	width: 100px;
	margin: 10px;
	border-radius: 50%;
	border: none;
}
.contact img:hover{
	opacity: 0.5;
}
ul.websites{
	padding: 0;
}
ul.websites li{
	list_style: none;
	display: inline-block;
}
.websites a {
	background: #38A88F;
	padding: 10px 20px;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	font-size: 24px;
	display: block;
}
.websites a:hover {
	background: #666;
}


































